h1 {
	
	font-family: Times New Roman;
	font-size:50px;
	margin-right: all;
	
	text-decoration: underline;
}
p {
 	margin-left: 80;

}
h3 {
 	margin-left: 80;

}
h4 {
	margin-left: 80;
}
table {
	margin-left: 80;
}
